<div fxLayout="row" fxLayoutAlign="center top" class="row-height">
  <mat-card fxFlex="60%">
    <mat-card-content fxLayout="column">
      <div fxLayout="row" fxFlex="100%">
        <div fxFlex="25%">
          <img
            style="height:auto; width:150px"
            alt="InstantForm.app" src="https://instantform.app/img/logo.svg"/>
          <mat-nav-list appearance="standard">
            <ng-container *ngFor="let link of links">
              <a mat-list-item
                 [routerLinkActive]="'mat-list-item-focus'"
                 [routerLink]= "[{ outlets: { 'under': [link.href]}}]"
              >
                <mat-icon>{{link.icon}}</mat-icon>
                {{ link.text }}

              </a>

            </ng-container>
          </mat-nav-list>
        </div>


        <div fxFlex style="overflow: scroll">
          <router-outlet name="under"></router-outlet>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>



